
.Card {
 transition:.5s;
 border:0;
 position:relative;
 width:100%;
 background:transparent;
 border-radius:.55rem
}

.folder_icon{
    background-color: transparent;
}
.folder:hover{
    opacity: 0.7;
}

.folder_icon a{
  color: #303030
}
.trash{
  color: #a31be2
}