
.file .icon {
   padding:15px 10px;
   display:table;
   width:100%
}
.file .icon i {
   display:table-cell;
   font-size:30px;
   vertical-align:middle;
   color:#757575
}
.image{
   height: 100px;
overflow: hidden;
background-size: cover;
background-position: top;
cursor: pointer;
}
.file_name {
   padding:10px;
   border-top:1px solid #eceff1
}
.file .file_name small .date {
   float:right
}