
.Card {
    transition:.5s;
    border:0;
    position:relative;
    width:100%;
    background:transparent;
    border-radius:.55rem
   }
   
   .Body {
    font-size:14px;
    padding:20px;
    box-shadow:0 1px 2px 0 rgba(0,0,0,0.2);
    border-radius:.55rem;
    background:#fff;
    color:#616161;
    font-weight:400;
    transition:all 0.2s ease-in-out
   }