.TreeItem{
    margin: 10px 0 0 0;
}
.TreeItem .FolderName{
    padding-left: 2px;
  }
  
.TreeItem > button {
    color:#0062cc;
    position: absolute;
    cursor: pointer;
    float: left;
    width: 25px;
    height: 30px;
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
    border: 0;
    background: transparent;
    font-size: 16px;
    line-height: 1;
    text-align: center;
    font-weight: 700;
    left: -23px;
    top:-12px
}
.TreeItem > button::before{
  content: "+";
  display: block;
  position: absolute;
  width: 100%;
  text-align: center;
  text-indent: 0;
}

.TreeItem > button[data-action="collapse"]::before
{
    content: "-";
}
.TreeItem .TreeChildren {
    color: tomato
}
.TreeItem ul {
    padding-left: 10px;
}
ul.TreeList {
    padding-left: 20px
}
.TreeItem ul.TreeChildren {
    padding-left: 10px;
}
.TreeItem > button:focus{
    border:none;
}