.TreeItem{
    margin: 10px 0 0 15px;
}
.TreeItem > button {
    color:#0062cc;
    position: relative;
    cursor: pointer;
    float: left;
    width: 25px;
    height: 20px;
    margin: 5px 0;
    padding: 0;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    border: 0;
    background: transparent;
    font-size: 14px;
    line-height: 1;
    text-align: center;
    font-weight: 700;
}
.TreeItem > button::before{
    content: "+";
  display: block;
  position: absolute;
  width: 100%;
  text-align: center;
  text-indent: 0;
}

.TreeItem > button[data-action="collapse"]::before
{
    content: "-";
}
.TreeItem .TreeChildren {
    color: tomato
}