@import url("https://fonts.googleapis.com/css?family=Muli:300,400,600,700");@font-face{font-family:'Material Icons';font-style:normal;font-weight:400;src:local("Material Icons"),local("MaterialIcons-Regular"),url(https://fonts.gstatic.com/s/materialicons/v19/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format("woff2")}#wrapper{
    width: 100%;
    overflow: hidden;
}
body{
  font-family:'Muli', Arial, Tahoma, sans-serif;
  font-weight:400;
  font-size:15px;
  background-color: #f4f7f6;
}
.card {
  transition: .5s;
  border: 0;
  position: relative;
  width: 100%;
  border-radius: .55rem;
}

.loader{
  position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: white;
    opacity: 0.7;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index:9999
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle
{
  background-color:#a134d4;
  border-color: #a31be2
}

img{
  max-width: 100%;
}
.breadcrumb{
  background-color:  none!important;
}

.link-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: none;
  display: inline;
  margin: 0;
  padding: 0;
}

.link-button:hover,
.link-button:focus {
text-decoration: none;
}
.sidebar{
    left:0;
    height: calc(100vh - 20px);
    z-index:10;
    overflow:auto ;
    scrollbar-width:none;
    padding: 10px;
    transition: all 0.5s;
    background-color: #f4f7f6;
    width:250px;
    position: fixed;
    .user-info {
        border-bottom: 1px solid #bbb5b5;
        color: #424242;
        .image {
            img {
                width: 80px;
                border-radius: 50%;
                vertical-align: bottom !important;
                border: 3px solid #fff;
                box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.5);
            }
        }
    }
    .menu {
      .list{
        padding-left: 10px;
        a{
          color:#313740;
          position:relative;
          padding:15px;
          display: block;
        }
      }
    }
    ul{
        list-style:none;
    
        li{
            position: relative;
            width: 100%;
            display:block;
        }
        li.upload{
            padding: 20px 0;
        }
        li.header{
          font-size: 14px;
          font-weight: 700;
          padding: 8px 0;
          position: relative;
          color:  #616161;
        }
    }   
}
section.content {

    margin: 0 0 0 250px;
    transition: .5s;
    z-index: 9;
    position: relative;
    border-radius: .55rem;
    padding: 10px;

}
.content{
  position:relative;
}

.block-header {
    padding: 10px 0;
    color: #616161;
}
.label-bar{
    background-color: #f4f7f6;
    padding:15px 0;
    border-radius: 5px;
    .file {
      cursor: pointer;
    }
    input{
        position: absolute;
        font-size: 50px;
        opacity: 0;
        right: 0;
        top: 0;

    }
}
.main-content{
    margin : 0 0 0 280px;
}
.btn-primary{
    font-size: 14px;
    background-color: #9744be;
    border-color: #a134d4
}
.btn-outline-primary {
  background-color: transparent;
  color: #a134d4;
  border-color: #a134d4
}
.btn-primary:hover , .btn-outline-primary:hover{
  background-color: #9744be;
  border-color: #a134d4
}
.btn-primary:focus , .btn-outline-primary:focus .btn-primary:active .btn-primary.active{
  background-color: #9744be;
  border-color: #a134d4
}

 /* Upload css */
.Upload {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    text-align: left;
    overflow: hidden;
    background-color:#eee;

   .body{
      font-size: 14px;
      padding: 20px;
      box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
      border-radius: .55rem;
      background: #fff;
      color: #616161;
      font-weight: 400;
      transition: all 0.2s ease-in-out;
   }
  
  .Content {
    display: flex;
    flex-direction: row;
    padding-top: 16px;
    box-sizing: border-box;
    width: 100%;
    justify-content: center
  }
  
  .Files {
    justify-content: flex-start;
    flex: 1;
    display: flex;
    align-self: flex-start;
  }

  .file-items {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin: 16px;
    min-height: 100px;
    
     .file-image {
        border-radius: 20px;
        overflow: hidden;
        width: 120px;
        height: 120px;
        position: relative;
        display: block;
        z-index: 10;
        img{
          height:120px;
        }
      }
      .dz-details{
        z-index: 20;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        font-size: 13px;
        min-width: 100%;
        max-width: 100%;
        padding: 2em 1em;
        text-align: center;
        color:rgba(0, 0, 0, 0.9);
        line-height: 150%;
        .dz-size {
          margin-bottom: 1em;
          font-size: 16px;
          span {
            background-color:rgba(255, 255, 255, 0.4);
            padding: 0 0.4em;
            border-radius: 3px;
          }
        }
        .dz-filename{
          white-space: nowrap;
        }
        .dz-filename span {
            border: 1px solid rgba(200, 200, 200, 0.8);
            background-color: rgba(255, 255, 255, 0.8);
          }
          .dz-filename :not(:hover) {
            overflow: hidden;
            text-overflow: ellipsis;
          }
          .dz-success-mark {
            opacity: 0;
            z-index: 500;
            position: absolute;
            display: block;
            top: 50%;
            left: 35%;
            margin-top: 30px;
          } 
      }
     
  }
  
  .file-items:hover{
    z-index: 1000;
    .dz-details{
      opacity: 1;
    }
    .file-image{
      opacity: 0.5;
    }
    .dz-success-mark{
      opacity: 0.5;
    }
  }

  .Title {
    margin-bottom: 32px;
    color: #555;
  }
}

.Actions {
  display: flex;
  flex: 1;
  width: 100%;
  align-items: center;
  flex-direction: column;
  margin: 15px 0 0  0;
}

.Dropzone {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 16px;
    padding:25px 0;
    width: 100%
  }
  .Icon {
    opacity: 0.3;
    height: 64px;
    width: 64px;
  }
  .Highlight {
    background-color: rgb(188, 185, 236);
  }

  .ProgressBar {
    width: 100%;
    height: 8px;
    background-color: rgb(183, 155, 229);
    border-radius: 5px;
  }
  
  .Progress {
    background-color: rgba(103, 58, 183, 1);
    height: 100%;
    margin: 0;
    border-radius: 5px;
  }

  //login signup css
  .authentication {
    background: #313740 !important;
    height: 100vh;
    max-height: 1050px;
    padding: 0;
    position: relative;
    .company_detail {
      color:#fff
    }
      .company_detail .logo img {
      width:40px;
      vertical-align:top
    }
      .company_detail hr {
      border-top:1px solid rgba(255,255,255,0.05)
    }
      .company_detail h3 {
      font-weight:300;
      text-transform:uppercase;
      opacity:0.7;
      letter-spacing:2px
    }
      .company_detail h3 i {
      font-size:30px;
      margin:0 2px
    }
    .company_detail p {
      opacity:0.6;
      letter-spacing:1px;
      font-weight:300
    }
    .card-plain {
      border-radius:.55rem;
      padding-bottom:.7rem;
      max-width:330px;
      padding:20px;
      background:#fff;
      box-shadow:0px 10px 25px 0px rgba(0,0,0,0.3);

      .header img {
        width:80px;
        border:3px solid #fff;
        box-shadow:0px 1px 2px 0px rgba(0,0,0,0.5)
      }
      .footer {
        padding:15px 0
      }
      .form-control {
        background-color:rgba(0,0,0,0);
        border:1px solid #E3E3E3;
        border-radius:30px;
        color:#2c2c2c;
        line-height:normal;
        font-size:.93em;
        transition:color 0.3s ease-in-out, border-color 0.3s ease-in-out, 
        background-color 0.3s ease-in-out;
        box-shadow:none;
        height:auto;
       }
       input{
          padding: 10px 18px 10px 18px
        }
       .input-group{
        margin-bottom:10px;
       }
    }
  }
  .authentication::before {

    background-image: url("../images/logo.svg");
    content: '';
    position: absolute;
    z-index: 1;
    background-repeat: no-repeat;
    opacity: 0.02;
    width: 100%;
    height: 100%;

}
  .authentication .container > .content-center {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 0 15px;
    width: 100%;
    max-width: 960px;
    z-index: 99;
}

.btn-rounded{
  border-radius: 30px !important
}

.file-manager{
  .card {
    transition: .5s;
    border: 0;
    position: relative;
    width: 100%;
    background: transparent;
    border-radius: .55rem;
  }
}

// file icon css
.file{
  position: relative;
  border-radius: .55rem;  
  overflow: hidden;
  background: #fff;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);

    .icon{
    height:130px;
    overflow:hidden;
    background-size:cover;
    background-position:top
    }

  .hover {
    position:absolute;
    right:10px;
    top:10px;
    display:none;
    transition:all 0.2s ease-in-out
    }
  }
 
.file:hover .hover {
  display:block;
  transition:all 0.2s ease-in-out
}

.react-fancybox .box{
  z-index: 9999;
  opacity: 1;
}
.react-fancybox .box:hover{
  z-index: 9999;
  opacity: 1;
}
.react-fancybox .image-box:hover{
  z-index: 9999;
  background-color: green;
  opacity: 1;
}

.react-fancybox .thumbnail img{
  max-width : auto  ;
}

audio{
        //filter: sepia(20%) saturate(70%) grayscale(1) contrast(99%) invert(12%);  
  padding: 10px;
  width: 100%;
  height:100px;
  border-top: solid 2px #a134d4;
  background: url("../images/blue-sound-wave.jpg")  center;
}