#wrapper{
    width: 100%;
    overflow: hidden;
}
.sidebar{
    left:0;
    height: calc(100vh - 20px);
    z-index:10;
    overflow:auto ;
    scrollbar-width:none;
    padding: 10px;
    transition: all 0.5s;
    background-color: #f4f7f6;
    width:250px;
    position: fixed;
    .user-info {
        border-bottom: 1px solid #eee;
        color: #424242;
        .image {
            img {
                width: 80px;
                border-radius: 50%;
                vertical-align: bottom !important;
                border: 3px solid #fff;
                box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.5);
            }
        }
    }
    ul{
        list-style:none;
    
        li{
            position: relative;
            width: 100%;
            display:block;
        }
        li.upload{
            padding: 20px 0;
        }
        li.header{
                font-size: 12px;
                font-weight: 700;
                padding: 8px 0;
                position: relative;
                color:  #616161;
        }
    }   
}
section.content {

    margin: 0 0 0 250px;
    transition: .5s;
    z-index: 9;
    position: relative;
    border-radius: .55rem;
    padding: 10px;

}
.block-header {
    padding: 10px 0;
    color: #616161;
}
.label-bar{
    background-color: #f4f7f6;
    padding:15px 0;
    border-radius: 5px;
    .file{
      cursor: pointer;
    }
    input{
        position: absolute;
        font-size: 50px;
        opacity: 0;
        right: 0;
        top: 0;

    }
}
.main-content{
    margin : 0 0 0 280px;
}
.btn{
    font-size: 14px;
    background-color: #6a5acd;
}